@model IEnumerable<Tuan4_NguyenLePhuongThao.Models.Giohang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đặt hàng thành công!</h1>
<h2>Danh sách mặt hàng</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.tensach)</th>
        <th>@Html.DisplayNameFor(model => model.hinh)</th>
        <th>@Html.DisplayNameFor(model => model.giaban)</th>
        <th>@Html.DisplayNameFor(model => model.iSoluong)</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.tensach)</td>
            <td><img src="@item.hinh" width="180" /></td>
            @using (Html.BeginForm("Capnhatgiohang", "Giohang", new { @id = item.masach }))
            {
                <td>@String.Format("{0:0,0}", item.giaban) VND</td>

                <td>@Html.DisplayFor(modelItem => item.iSoluong)</td>


            }
        </tr>
    }
    <tr style="font-weight:bold; color:yellow; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Trang chủ", "Index", "Home")
        </td>
    </tr>


</table>
